src/main/app/proxy/ilp-ledger-proxy.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:metrics="http://www.mulesoft.org/schema/mule/metrics"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/metrics http://www.mulesoft.org/schema/mule/metrics/current/mule-metrics.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<!-- DFSP HTTP configuration for making REST call to the ilp service -->
	<http:request-config name="ILP_Ledger_Configuration"
		host="${dfsp-host}" port="${ilp-ledger.port}"
		basePath="${ilp-ledger.basePath}" doc:name="HTTP Request Configuration">
	</http:request-config>

	<spring:beans>
		<spring:bean id="LedgerMetadataTransformer" name="LedgerMetadataTransformer"
			class="com.l1p.interop.ilp.ledger.LedgerMetadataTransformer">
			<spring:constructor-arg value="${ilp-ledger-adapter.ledgerAdapterURL}" />
			<spring:constructor-arg value="${ilp-ledger.accountTransfersURL}" />
		</spring:bean>
		<spring:bean id="ledgerAdapterMetadata"
			class="com.l1p.interop.ilp.ledger.LedgerAdapterMetadata">
			<spring:property name="connectors">
				<spring:list>
				</spring:list>
			</spring:property>
			<spring:property name="urls">
				<spring:bean class="com.l1p.interop.ilp.ledger.ServiceUrlRegistry">
					<spring:property name="health"
						value="${ilp-ledger-adapter.ledgerAdapterURL}/health" />
					<spring:property name="transfer"
						value="${ilp-ledger-adapter.ledgerAdapterURL}/transfers/:id" />
					<spring:property name="transferFulfillment"
						value="${ilp-ledger-adapter.ledgerAdapterURL}/transfers/:id/fulfillment" />
					<spring:property name="transferState"
						value="${ilp-ledger-adapter.ledgerAdapterURL}/tranfers/:id/state" />
					<spring:property name="transferRejection"
						value="${ilp-ledger-adapter.ledgerAdapterURL}/tranfers/:id/rejection" />
					<spring:property name="accounts"
						value="${ilp-ledger-adapter.ledgerAdapterURL}/accounts" />
					<spring:property name="account"
						value="${ilp-ledger-adapter.ledgerAdapterURL}/accounts/:name" />
					<spring:property name="authToken"
						value="${ilp-ledger-adapter.ledgerAdapterURL}/auth_token" />
					<spring:property name="message"
						value="${ilp-ledger-adapter.ledgerAdapterURL}/messages" />
					<spring:property name="websocket"
						value="${ilp-ledger-adapter.websocket.url}" />
				</spring:bean>
			</spring:property>
			<spring:property name="precision" value="10" />
			<spring:property name="scale" value="2" />
		</spring:bean>
		<spring:bean id="RequestMapper" name="RequestMapper"
			class="com.l1p.interop.ilp.ledger.PayloadContentMapper">
			<spring:constructor-arg value="${ilp-ledger-adapter.ledgerURL}" />
			<spring:constructor-arg value="${ilp-ledger.ledgerURL}" />
		</spring:bean>
		<spring:bean id="ResponseMapper" name="ResponseMapper"
			class="com.l1p.interop.ilp.ledger.PayloadContentMapper">
			<spring:constructor-arg value="${ilp-ledger.ledgerURL}" />
			<spring:constructor-arg value="${ilp-ledger-adapter.ledgerURL}" />
		</spring:bean>
		<spring:bean id="notificationRegistrationApp"
			class="com.l1p.interop.ilp.ledger.notification.LedgerNotificationRegistrationApplication">
			<spring:constructor-arg ref="ledgerUrlMapper" />
		</spring:bean>
		<spring:bean id="notificationRegistrationServer"
			class="com.l1p.interop.ilp.ledger.notification.LedgerNotificationRegistrationServer">
			<spring:constructor-arg value="/tmp" />
			<spring:constructor-arg
				value="${ilp-ledger-adapter.notification.registration.port}" />
			<spring:constructor-arg
				value="${ilp-ledger-adapter.notification.registration.path}" />
			<spring:constructor-arg ref="notificationRegistrationApp" />
		</spring:bean>
	</spring:beans>

	<flow name="getLedgerMetadata">
		<set-payload value="#[app.registry.ledgerAdapterMetadata]" doc:name="Set Payload"/>
	</flow>

	<flow name="getLedgerHealth">
		<set-property propertyName="Content-Type" value="application/json"
			doc:name="Property" />
		<set-payload value="#[NullPayload.getInstance()]"
			doc:name="Set Payload" />
		<logger level="INFO"
			message="Proxying request for L1p-Trace-Id=#[sessionVars.'L1p-Trace-Id'] to http://${dfsp-host}:${ilp-ledger.port}${ilp-ledger.basePath}/health, method=get"
			category="com.l1p.interop.ilp.ledger.api-main" doc:name="logger" />
		<http:request config-ref="ILP_Ledger_Configuration" path="/health"
			method="GET" doc:name="HTTP">
			<http:success-status-code-validator
				values="200..500" />
		</http:request>
		<object-to-string-transformer doc:name="Object to String" />
		<set-property propertyName="http.status"
			value="#[message.inboundProperties.'http.status']" doc:name="Property" />
	</flow>

	<sub-flow name="getAccounts">
		<set-property propertyName="Content-Type" value="application/json"	doc:name="Property" />
		<set-payload value="#[NullPayload.getInstance()]"
			doc:name="Set Payload" />
		<logger level="INFO"
			message="Proxying request for L1p-Trace-Id=#[sessionVars.'L1p-Trace-Id'] to http://${dfsp-host}:${ilp-ledger.port}${ilp-ledger.basePath}/accounts, method=get"
			category="com.l1p.interop.ilp.ledger.api-main" doc:name="logger" />
		<http:request config-ref="ILP_Ledger_Configuration" path="/accounts"
			method="GET" doc:name="HTTP">
			<http:success-status-code-validator
				values="200..500" />
		</http:request>
		<object-to-string-transformer doc:name="Object to String" />
		<set-property propertyName="http.status"
			value="#[message.inboundProperties.'http.status']" doc:name="Property" />
	</sub-flow>

	<sub-flow name="getAccount">
		<set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
		<set-payload value="#[NullPayload.getInstance()]"
			doc:name="Set Payload" />
		<logger level="INFO"
			message="Proxying request for L1p-Trace-Id=#[sessionVars.'L1p-Trace-Id'] to http://${dfsp-host}:${ilp-ledger.port}${ilp-ledger.basePath}/accounts/#[id], method=get"
			category="com.l1p.interop.ilp.ledger.flow-getAccount" doc:name="logger" />
<!--         <set-payload value="{ -->
<!--     &quot;id&quot;: &quot;http://localhost:8088/ilp/ledger/v1/v1/accounts/alice&quot;, -->
<!--     &quot;name&quot;: &quot;alice&quot;, -->
<!--     &quot;balance&quot;: &quot;98944.52&quot;, -->
<!--     &quot;currencyCode&quot;: &quot;USD&quot;, -->
<!--     &quot;currencySymbol&quot;: &quot;$&quot;, -->
<!--     &quot;is_disabled&quot;: false, -->
<!--     &quot;ledger&quot;: &quot;http://localhost:8088/ilp/ledger/v1/v1&quot; -->
<!-- }" mimeType="application/json" doc:name="Set Payload"/> -->
		<http:request config-ref="ILP_Ledger_Configuration" path="/accounts/#[id]"
			method="GET" doc:name="HTTP">
			<http:success-status-code-validator	values="200..500" />
		</http:request>
		<object-to-string-transformer doc:name="Object to String" />
        <set-variable variableName="http-status" value="200" doc:name="mock http status"/>
		<choice doc:name="Map Ledger URLs based on the response code. http-status" doc:description="#[message.inboundProperties.'http.status' == 200]">
			<when expression="#[flowVars.'http-status' == 200]">
				<transformer ref="actualLedgerToLedgerAdapterUrlTransformer"
					doc:name="Transform Ledger URL" />
			</when>
			<otherwise>
				<logger message="getAccount failed for request with L1p-Trace-Id=#[sessionVars.'L1p-Trace-Id']" level="ERROR"
					category="com.l1p.interop.ilp.ledger.flow-getAccount" doc:name="Logger" />
			</otherwise>
		</choice>
		<set-property propertyName="http.status"
			value="#[message.inboundProperties.'http.status']" doc:name="Property" />
	</sub-flow>

	<sub-flow name="putAccount">
		<set-property propertyName="Content-Type" value="application/json"
			doc:name="Property" />
		<logger level="INFO"
			message="Proxying request for L1p-Trace-Id=#[sessionVars.'L1p-Trace-Id'] to http://${dfsp-host}:${ilp-ledger.port}${ilp-ledger.basePath}/accounts/#[id], method=put"
			category="com.l1p.interop.ilp.ledger.api-main" doc:name="logger" />
		<http:request config-ref="ILP_Ledger_Configuration" path="/accounts/#[id]"
			method="PUT" doc:name="HTTP">
			<!--<http:success-status-code-validator values="200,201,400,403"/> -->
			<http:success-status-code-validator
				values="200..500" />
		</http:request>
		<object-to-string-transformer doc:name="Object to String" />
		<set-property propertyName="http.status"
			value="#[message.inboundProperties.'http.status']" doc:name="Property" />
	</sub-flow>

	
	<sub-flow name="putTransfer">
		<set-property propertyName="Content-Type" value="application/json"
			doc:name="Property" />
		<logger level="INFO"
			message="Proxying request for L1p-Trace-Id=#[sessionVars.'L1p-Trace-Id'] to http://${dfsp-host}:${ilp-ledger.port}${ilp-ledger.basePath}/transfers/#[id], method=put"
			category="com.l1p.interop.ilp.ledger.api-main" doc:name="logger" />
		<http:request config-ref="ILP_Ledger_Configuration" path="/transfers/#[id]"
			method="PUT" doc:name="HTTP">
			<!--<http:success-status-code-validator values="200,201,400,422"/> -->
			<http:success-status-code-validator
				values="200..500" />
		</http:request>
		<object-to-string-transformer doc:name="Object to String" />
		<choice doc:name="Map Ledger URLs based on the response code">
			<when expression="#[message.inboundProperties.'http.status' == 201]">
				<metrics:inc-count config-ref="metricsConfig" category="l1p.interop-ilp-ledger.transfer" doc:name="metrics-count">
					<metrics:metric-keys><metrics:metric-key>TransferPutSuccess</metrics:metric-key></metrics:metric-keys>
				</metrics:inc-count>
				<transformer ref="actualLedgerToLedgerAdapterUrlTransformer"
					doc:name="Transform Ledger URL" />
				<expression-component doc:name="Expression"><![CDATA[app.registry.notificationRegistrationApp.sendTransferPreparedNotification(payload)]]></expression-component>
			</when>
			<otherwise>
				<metrics:inc-count config-ref="metricsConfig" category="l1p.interop-ilp-ledger.transfer" doc:name="metrics-count">
					<metrics:metric-keys><metrics:metric-key>TransferPutFailure</metrics:metric-key></metrics:metric-keys>
				</metrics:inc-count>
				<logger message="putTransfer failed for request with L1p-Trace-Id=#[sessionVars.'L1p-Trace-Id']" level="ERROR"
					category="com.l1p.interop.ilp.ledger.api-main" doc:name="Logger" />
			</otherwise>
		</choice>
		<set-property propertyName="http.status"
			value="#[message.inboundProperties.'http.status']" doc:name="Property" />
	</sub-flow>
	
	<sub-flow name="getTransfer">
		<set-property propertyName="Content-Type" value="application/json"
			doc:name="Property" />
		<set-payload value="#[NullPayload.getInstance()]"
			doc:name="Set Payload" />
		<logger level="INFO"
			message="Proxying request for L1p-Trace-Id=#[sessionVars.'L1p-Trace-Id'] to http://${dfsp-host}:${ilp-ledger.port}${ilp-ledger.basePath}/transfers/#[id], method=get"
			category="com.l1p.interop.ilp.ledger.api-main" doc:name="logger" />
		<http:request config-ref="ILP_Ledger_Configuration" path="/transfers/#[id]"
			method="GET" doc:name="HTTP">
			<http:success-status-code-validator
				values="200..500" />
		</http:request>
		<object-to-string-transformer doc:name="Object to String" />
		<choice doc:name="Map Ledger URLs based on the response code">
			<when expression="#[message.inboundProperties.'http.status' == 200]">
				<transformer ref="actualLedgerToLedgerAdapterUrlTransformer"
					doc:name="Transform Ledger URL" />
			</when>
			<otherwise>
				<logger message="getTransfer failed for L1p-Trace-Id=#[sessionVars.'L1p-Trace-Id']" level="ERROR"
					category="com.l1p.interop.ilp.ledger.api-main" doc:name="Logger" />
			</otherwise>
		</choice>
		<set-property propertyName="http.status"
			value="#[message.inboundProperties.'http.status']" doc:name="Property" />
	</sub-flow>
	

	<sub-flow name="executeTransfer">
		<set-property propertyName="Content-Type" value="text/plain"
			doc:name="Property" />
		<logger level="INFO"
			message="Proxying request for L1p-Trace-Id=#[sessionVars.'L1p-Trace-Id'] to http://${dfsp-host}:${ilp-ledger.port}${ilp-ledger.basePath}/transfers/#[id]/fulfillment, method=put"
			category="com.l1p.interop.ilp.ledger.api-main" doc:name="logger" />
		<http:request config-ref="ILP_Ledger_Configuration" path="/transfers/#[id]/fulfillment"
			method="PUT" doc:name="HTTP">
			<http:success-status-code-validator	values="200..500" />
		</http:request>
		<object-to-string-transformer doc:name="Object to String" />
		<set-variable variableName="payloadToReturn" value="#[payload]"
			doc:name="Variable" />
		<choice doc:name="Choice">
			<when expression="#[message.inboundProperties.'http.status' == 200]">
				<metrics:inc-count config-ref="metricsConfig" category="l1p.interop-ilp-ledger.transfer" doc:name="metrics-count">
					<metrics:metric-keys><metrics:metric-key>TransferExecuteSuccess</metrics:metric-key></metrics:metric-keys>
				</metrics:inc-count>
				<http:request config-ref="ILP_Ledger_Configuration"
					path="/transfers/#[id]" method="GET" doc:name="HTTP">
					<http:success-status-code-validator
						values="200..500" />
				</http:request>
				<object-to-string-transformer doc:name="Object to String" />
				<transformer ref="actualLedgerToLedgerAdapterUrlTransformer"
							doc:name="Transform Ledger URL" />
				<set-variable doc:name="Store Transfer Payload" value="#[payload]" variableName="transferPayload"/>
				<http:request config-ref="ILP_Ledger_Configuration" path="/transfers/#[id]/fulfillment"
					method="GET" doc:name="HTTP">
					<http:success-status-code-validator	values="200..500" />
				</http:request>
				<object-to-string-transformer doc:name="Object to String" mimeType="text/plain"/>
				<set-variable doc:name="Store Transfer Fulfillment Payload" value="#[payload]" variableName="transferFulfillmentPayload"/>
				<choice doc:name="Map Ledger URLs based on the response code">
					<when expression="#[message.inboundProperties.'http.status' == 200]">
						<expression-component doc:name="Expression"><![CDATA[app.registry.notificationRegistrationApp.sendTranferExecutedNotification(flowVars.transferPayload,flowVars.transferFulfillmentPayload)]]></expression-component>
					</when>
					<otherwise>
						<logger message="executeTransfer failed for request with L1p-Trace-Id=#[sessionVars.'L1p-Trace-Id']"
							level="ERROR" category="com.l1p.interop.ilp.ledger.api-main" doc:name="Logger" />
					</otherwise>
				</choice>
                
			</when>
			<otherwise>
				<metrics:inc-count config-ref="metricsConfig" category="l1p.interop-ilp-ledger.transfer" doc:name="metrics-count">
					<metrics:metric-keys><metrics:metric-key>TransferExecuteFailure</metrics:metric-key></metrics:metric-keys>
				</metrics:inc-count>
				<logger message="executeTransfer failed for request with L1p-Trace-Id=#[sessionVars.'L1p-Trace-Id']"
					level="ERROR" category="com.l1p.interop.ilp.ledger.api-main" doc:name="Logger" />
			</otherwise>
		</choice>

		<set-payload value="#[flowVars.payloadToReturn]" doc:name="Set Payload" />
		<set-property propertyName="http.status"
			value="#[message.inboundProperties.'http.status']" doc:name="Property" />
	</sub-flow>
	
	<sub-flow name="getTransferFulfillment">
		<set-property propertyName="Content-Type" value="application/json"
			doc:name="Property" />
		<set-payload value="#[NullPayload.getInstance()]"
			doc:name="Set Payload" />
		<logger level="INFO"
			message="Proxying request for L1p-Trace-Id=#[sessionVars.'L1p-Trace-Id'] to http://${dfsp-host}:${ilp-ledger.port}${ilp-ledger.basePath}/transfers/#[id]/fulfillment, method=get"
			category="com.l1p.interop.ilp.ledger.api-main" doc:name="logger" />
		<http:request config-ref="ILP_Ledger_Configuration" path="/transfers/#[id]/fulfillment"
			method="GET" doc:name="HTTP">
			<http:success-status-code-validator	values="200..500" />
		</http:request>
		<object-to-string-transformer doc:name="Object to String" returnClass="java.lang.String" mimeType="text/plain"/>
		<set-property propertyName="http.status"
			value="#[message.inboundProperties.'http.status']" doc:name="Property" />
	</sub-flow>
	

	<sub-flow name="rejectTransfer">
		<set-property propertyName="Content-Type" value="text/plain"
			doc:name="Property" />
		<logger level="INFO"
			message="Proxying request for L1p-Trace-Id=#[sessionVars.'L1p-Trace-Id'] to http://${dfsp-host}:${ilp-ledger.port}${ilp-ledger.basePath}/transfers/#[id]/rejection, method=put"
			category="com.l1p.interop.ilp.ledger.api-main" doc:name="logger" />
		<object-to-string-transformer doc:name="Object to String" />
		<http:request config-ref="ILP_Ledger_Configuration" path="/transfers/#[id]/rejection"
			method="PUT" doc:name="HTTP">
			<!--<http:success-status-code-validator values="200,201,400,404,422"/> -->
			<http:success-status-code-validator
				values="200..500" />
		</http:request>
		<object-to-string-transformer doc:name="Object to String" />
		<choice doc:name="Map Ledger URLs based on the response code">
			<when expression="#[message.inboundProperties.'http.status' == 200]">
				<metrics:inc-count config-ref="metricsConfig" category="l1p.interop-ilp-ledger.transfer" doc:name="metrics-count">
					<metrics:metric-keys><metrics:metric-key>TransferRejectSuccess</metrics:metric-key></metrics:metric-keys>
				</metrics:inc-count>
				<transformer ref="actualLedgerToLedgerAdapterUrlTransformer"
					doc:name="Transform Ledger URL" />
				<expression-component doc:name="Expression"><![CDATA[app.registry.notificationRegistrationApp.sendTranferRejectedNotification(payload)]]></expression-component>
			</when>
			<otherwise>
				<metrics:inc-count config-ref="metricsConfig" category="l1p.interop-ilp-ledger.transfer" doc:name="metrics-count">
					<metrics:metric-keys><metrics:metric-key>TransferRejectFailure</metrics:metric-key></metrics:metric-keys>
				</metrics:inc-count>
				<logger message="rejectTransfer failed for request with L1p-Trace-Id=#[sessionVars.'L1p-Trace-Id']" level="ERROR"
					category="com.l1p.interop.ilp.ledger.api-main" doc:name="Logger" />
			</otherwise>
		</choice>
		<set-property propertyName="http.status"
					  value="#[message.inboundProperties.'http.status']" doc:name="Property" />
	</sub-flow>

	<sub-flow name="getConnectors">
		<set-property propertyName="Content-Type" value="application/json"
			doc:name="Property" />
		<set-payload value="#[NullPayload.getInstance()]"
			doc:name="Set Payload" />
		<logger level="INFO"
			message="Proxying request for L1p-Trace-Id=#[sessionVars.'L1p-Trace-Id'] to http://${dfsp-host}:${ilp-ledger.port}${ilp-ledger.basePath}/connectors, method=get"
			category="com.l1p.interop.ilp.ledger.api-main" doc:name="logger" />
		<http:request config-ref="ILP_Ledger_Configuration" path="/connectors"
			method="GET" doc:name="HTTP">
			<!--<http:success-status-code-validator values="200"/> -->
			<http:success-status-code-validator
				values="200..500" />
		</http:request>
		<object-to-string-transformer doc:name="Object to String" />
		<set-property propertyName="http.status"
			value="#[message.inboundProperties.'http.status']" doc:name="Property" />
	</sub-flow>

	<sub-flow name="postMessages">
		<expression-component doc:name="Expression"><![CDATA[app.registry.notificationRegistrationApp.sendMessageNotification(payload)]]></expression-component>
		<set-payload value="#[NullPayload.getInstance()]"
			doc:name="Set Payload" />
		<set-property propertyName="http.status" value="#[201]"
			doc:name="201" />
	</sub-flow>

</mule>
