src/main/app/proxy/ilp-ledger-proxy.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:json="http://www.mulesoft.org/schema/mule/json"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    
	<!-- DFSP HTTP configuration for making REST call to the ilp service -->
    <http:request-config   name="ILP_Ledger_Configuration" host="${ilp-ledger.host}" port="${ilp-ledger.port}" basePath="${ilp-ledger.basePath}" doc:name="HTTP Request Configuration">
        <http:basic-authentication username="${ilp-ledger.userName}" password="${ilp-ledger.password}"/>
    </http:request-config>

    <spring:beans>
        <spring:bean id="LedgerMetadataTransformer" name="LedgerMetadataTransformer" class="com.l1p.interop.ilp.ledger.LedgerMetadataTransformer">
            <spring:constructor-arg value="${ilp-ledger-adapter.ledgerURL}"/>
            <spring:constructor-arg value="${ilp-ledger.accountTransfersURL}"/>
        </spring:bean>
        <spring:bean id="RequestMapper" name="RequestMapper" class="com.l1p.interop.ilp.ledger.PayloadContentMapper">
            <spring:constructor-arg value="${ilp-ledger-adapter.ledgerURL}"/>
            <spring:constructor-arg value="${ilp-ledger.ledgerURL}"/>
        </spring:bean>
        <spring:bean id="ResponseMapper" name="ResponseMapper" class="com.l1p.interop.ilp.ledger.PayloadContentMapper">
            <spring:constructor-arg value="${ilp-ledger.ledgerURL}"/>
            <spring:constructor-arg value="${ilp-ledger-adapter.ledgerURL}"/>
        </spring:bean>
        <spring:bean id="notificationRegistrationApp" class="com.l1p.interop.ilp.ledger.notification.LedgerNotificationRegistrationApplication">
            <spring:constructor-arg ref="ledgerUrlMapper"/>
        </spring:bean>
        <spring:bean id="ledgerUrlMapper" class="com.l1p.interop.ilp.ledger.LedgerUrlMapper">
            <spring:constructor-arg value=".*/ledger"/>
            <spring:constructor-arg value="${ilp-ledger-adapter.ledgerURL}"/>
        </spring:bean>
        <spring:bean id="notificationRegistrationServer" class="com.l1p.interop.ilp.ledger.notification.LedgerNotificationRegistrationServer">
            <spring:constructor-arg value="/tmp"/>
            <spring:constructor-arg value="${ilp-ledger.notification.registration.port}"/>
            <spring:constructor-arg value="${ilp-ledger.notification.registration.path}"/>
            <spring:constructor-arg ref="notificationRegistrationApp"/>
        </spring:bean>
    </spring:beans>

    <flow name="getLedgerMetadata">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
        <logger level="INFO"
                message="Proxying request for interopID=#[sessionVars.interopID] to http://${ilp-ledger.host}:${ilp-ledger.port}${ilp-ledger.basePath}/, method=get"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
        <http:request config-ref="ILP_Ledger_Configuration" path="${ilp-ledger-getMedataData-path}" method="GET" doc:name="HTTP">
            <!--<http:success-status-code-validator values="200"/>-->
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <object-to-string-transformer doc:name="Object to String"/>
        <transformer ref="LedgerMetadataTransformer" doc:name="LedgerMetadataTransformer"/>
        <set-property propertyName="http.status" value="#[message.inboundProperties.'http.status']" doc:name="Property"/>
    </flow>

    <flow name="getLedgerHealth">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
        <logger level="INFO"
                message="Proxying request for interopID=#[sessionVars.interopID] to http://${ilp-ledger.host}:${ilp-ledger.port}${ilp-ledger.basePath}/health, method=get"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
        <http:request config-ref="ILP_Ledger_Configuration" path="/health" method="GET" doc:name="HTTP">
            <!--<http:success-status-code-validator values="200"/>-->
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <object-to-string-transformer doc:name="Object to String"/>
        <set-property propertyName="http.status" value="#[message.inboundProperties.'http.status']" doc:name="Property"/>
    </flow>

    <flow name="getAccounts">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
        <logger level="INFO"
                message="Proxying request for interopID=#[sessionVars.interopID] to http://${ilp-ledger.host}:${ilp-ledger.port}${ilp-ledger.basePath}/accounts, method=get"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
        <http:request config-ref="ILP_Ledger_Configuration" path="/accounts" method="GET" doc:name="HTTP">
            <!--<http:success-status-code-validator values="200,403"/>-->
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <object-to-string-transformer doc:name="Object to String"/>
        <set-property propertyName="http.status" value="#[message.inboundProperties.'http.status']" doc:name="Property"/>
    </flow>
    
    <flow name="getAccount">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
        <logger level="INFO"
                message="Proxying request for interopID=#[sessionVars.interopID] to http://${ilp-ledger.host}:${ilp-ledger.port}${ilp-ledger.basePath}/accounts/#[id], method=get"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
        <http:request config-ref="ILP_Ledger_Configuration" path="/accounts/#[id]" method="GET" doc:name="HTTP">
            <!--<http:success-status-code-validator values="200,400,404"/>-->
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <object-to-string-transformer doc:name="Object to String"/>
        <custom-transformer mimeType="application/json" class="com.l1p.interop.LedgerUrlMapperTransformer" doc:name="Transform DFSP Ledger Urls">
            <spring:property name="ledgerUrlMapper" ref="ledgerUrlMapper"/>
        </custom-transformer>
        <set-property propertyName="http.status" value="#[message.inboundProperties.'http.status']" doc:name="Property"/>
    </flow>
    
    <flow name="putAccount">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <logger level="INFO"
                message="Proxying request for interopID=#[sessionVars.interopID] to http://${ilp-ledger.host}:${ilp-ledger.port}${ilp-ledger.basePath}/accounts/#[id], method=put"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
        <http:request config-ref="ILP_Ledger_Configuration" path="/accounts/#[id]" method="PUT" doc:name="HTTP">
            <!--<http:success-status-code-validator values="200,201,400,403"/>-->
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <object-to-string-transformer doc:name="Object to String"/>
        <set-property propertyName="http.status" value="#[message.inboundProperties.'http.status']" doc:name="Property"/>
    </flow>

    <flow name="getTransfer">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
        <logger level="INFO"
                message="Proxying request for interopID=#[sessionVars.interopID] to http://${ilp-ledger.host}:${ilp-ledger.port}${ilp-ledger.basePath}/transfers/#[id], method=get"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
        <http:request config-ref="ILP_Ledger_Configuration" path="/transfers/#[id]" method="GET" doc:name="HTTP">
            <!--<http:success-status-code-validator values="200,400,404"/>-->
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <object-to-string-transformer doc:name="Object to String"/>
        <set-property propertyName="http.status" value="#[message.inboundProperties.'http.status']" doc:name="Property"/>
    </flow>
    
    <flow name="putTransfer">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <logger level="INFO"
                message="Proxying request for interopID=#[sessionVars.interopID] to http://${ilp-ledger.host}:${ilp-ledger.port}${ilp-ledger.basePath}/transfers/#[id], method=put"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
        <http:request config-ref="ILP_Ledger_Configuration" path="/transfers/#[id]" method="PUT" doc:name="HTTP">
            <!--<http:success-status-code-validator values="200,201,400,422"/>-->
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <object-to-string-transformer doc:name="Object to String"/>
        <expression-component doc:name="Expression"><![CDATA[app.registry.notificationRegistrationApp.sendTransferPreparedNotification(payload)]]></expression-component>
        <set-property propertyName="http.status" value="#[message.inboundProperties.'http.status']" doc:name="Property"/>
    </flow>
    
    <flow name="executeTransfer">
        <set-property propertyName="Content-Type" value="text/plain" doc:name="Property"/>
        <logger level="INFO"
                message="Proxying request for interopID=#[sessionVars.interopID] to http://${ilp-ledger.host}:${ilp-ledger.port}${ilp-ledger.basePath}/transfers/#[id]/fulfillment, method=put"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
        <http:request config-ref="ILP_Ledger_Configuration" path="/transfers/#[id]/fulfillment" method="PUT" doc:name="HTTP">
            <!--<http:success-status-code-validator values="200,201,400,404,422"/>-->
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <object-to-string-transformer doc:name="Object to String"/>
        <set-variable variableName="payloadToReturn" value="#[payload]" doc:name="Variable"/>
        <http:request config-ref="ILP_Ledger_Configuration" path="/transfers/#[id]" method="GET" doc:name="HTTP">
            <!--<http:success-status-code-validator values="200,201,400,404,422"/>-->
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <object-to-string-transformer doc:name="Object to String"/>
        <expression-component doc:name="Expression"><![CDATA[app.registry.notificationRegistrationApp.sendTranferExecutedNotification(payload)]]></expression-component>
        <set-payload value="#[flowVars.payloadToReturn]" doc:name="Set Payload"/>
        <set-property propertyName="http.status" value="#[message.inboundProperties.'http.status']" doc:name="Property"/>
    </flow>

    <flow name="rejectTransfer">
        <set-property propertyName="Content-Type" value="text/plain" doc:name="Property"/>
        <logger level="INFO"
                message="Mocking request for interopID=#[sessionVars.interopID] to http://${ilp-ledger.host}:${ilp-ledger.port}${ilp-ledger.basePath}/transfers/#[id]/rejection, method=put"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
        <set-property propertyName="http.status" value="200,404" doc:name="Property"/>
    </flow>

    <flow name="getConnectors">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
        <logger level="INFO"
                message="Proxying request for interopID=#[sessionVars.interopID] to http://${ilp-ledger.host}:${ilp-ledger.port}${ilp-ledger.basePath}/connectors, method=get"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
        <http:request config-ref="ILP_Ledger_Configuration" path="/connectors" method="GET" doc:name="HTTP">
            <!--<http:success-status-code-validator values="200"/>-->
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <object-to-string-transformer doc:name="Object to String"/>
        <set-property propertyName="http.status" value="#[message.inboundProperties.'http.status']" doc:name="Property"/>
    </flow>
    
    <flow name="postMessages">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
        <logger level="INFO"
                message="Proxying request for interopID=#[sessionVars.interopID] to http://${ilp-ledger.host}:${ilp-ledger.port}${ilp-ledger.basePath}/messages, method=post"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
        <http:request config-ref="ILP_Ledger_Configuration" path="/messages" method="POST" doc:name="HTTP">
            <!--<http:success-status-code-validator values="200"/>-->
            <http:success-status-code-validator values="200..500"/>
        </http:request>
        <object-to-string-transformer doc:name="Object to String"/>
        <set-property propertyName="http.status" value="#[message.inboundProperties.'http.status']" doc:name="Property"/>
    </flow>
    
</mule>
