src/main/app/interop-ilp-ledger-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:spring="http://www.springframework.org/schema/beans"
    xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <description>
        - Receives and routes DFSP Directory Gateway API requests
        - Base http listener received all requests sent to /directory/*
    </description>
    
    <!-- Import common xml file that imports properties files at various levels -->
	<spring:beans>
        <spring:import resource="classpath:services-common.xml" />
        <spring:import resource="proxy/ilp-ledger-proxy.xml" />
	</spring:beans>

    <spring:beans>
        <spring:bean id="ExceptionTransformer" name="ExceptionTransformer" class="com.l1p.interop.L1PExceptionTransformer"/>
    </spring:beans>

	<apikit:config name="api-config" raml="ilp.ledger.raml" consoleEnabled="true" doc:name="Router" />

    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="${ilpLedgerAdapterBasePath}/*" doc:name="HTTP"/>
        <set-session-variable variableName="interopID" value="#[java.util.UUID.randomUUID()]" doc:name="set-interopID"/>
        <logger level="INFO"
                message="Received request for interopID=#[sessionVars.interopID] at path=#[message.inboundProperties.'http.request.path'], method=#[message.inboundProperties.'http.method'], Content-Type=#[message.inboundProperties.'Content-Type'], Authorization=#[message.inboundProperties.'Authorization']"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
        <apikit:router config-ref="api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="${ilpLedgerAdapterConsolePath}/*" doc:name="HTTP"/>
        <apikit:console config-ref="api-config" doc:name="APIkit Console"/>
    </flow>

    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-session-variable variableName="errorMessageId" value="Resource not found" doc:name="set-errorMessageId"/>
            <transformer ref="ExceptionTransformer" doc:name="ExceptionTransformer"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-session-variable variableName="errorMessageId" value="Method Not Allowed" doc:name="set-errorMessageId"/>
            <transformer ref="ExceptionTransformer" doc:name="ExceptionTransformer"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-session-variable variableName="errorMessageId" value="Unsupported MediaType" doc:name="set-errorMessageId"/>
            <transformer ref="ExceptionTransformer" doc:name="ExceptionTransformer"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-session-variable variableName="errorMessageId" value="Not Acceptable" doc:name="set-errorMessageId"/>
            <transformer ref="ExceptionTransformer" doc:name="ExceptionTransformer"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-session-variable variableName="errorMessageId" value="Bad request" doc:name="set-errorMessageId"/>
            <transformer ref="ExceptionTransformer" doc:name="ExceptionTransformer"/>
        </apikit:mapping>
        <apikit:mapping statusCode="500">
            <apikit:exception value="org.mule.api.transformer.TransformerMessagingException" />
            <set-session-variable variableName="errorMessageId" value="Transformer Messaging Exception" doc:name="set-errorMessageId"/>
            <transformer ref="ExceptionTransformer" doc:name="ExceptionTransformer"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>

</mule>
