src/main/app/interop-ilp-ledger-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:spring="http://www.springframework.org/schema/beans"
    xmlns:json="http://www.mulesoft.org/schema/mule/json"
    xmlns:metrics="http://www.mulesoft.org/schema/mule/metrics"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/metrics http://www.mulesoft.org/schema/mule/metrics/current/mule-metrics.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <description>
        - interop-ilp-ledger
    </description>
    
    <!-- Import common xml file that imports properties files at various levels -->
	<spring:beans>
        <spring:import resource="classpath:services-common.xml" />
        <spring:import resource="classpath:metrics.xml" />
	</spring:beans>

    <spring:beans>
        <spring:bean id="ExceptionTransformer" name="ExceptionTransformer" class="com.l1p.interop.L1PExceptionTransformer"/>
    </spring:beans>

	<apikit:config name="api-config" disableValidations="true" raml="ilp-ledger-adapter.raml" consoleEnabled="false" doc:name="Router" />

    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="${ilp-ledger-adapter.basePath}/*" doc:name="HTTP"/>
        <set-session-variable variableName="L1p-Trace-Id" value="#[(message.inboundProperties.'L1p-Trace-Id' == null) ? java.util.UUID.randomUUID() : message.inboundProperties.'L1p-Trace-Id']" doc:name="set-L1p-Trace-Id"/>
        <metrics:snap-time config-ref="metricsConfig" snapTimeKey="apikit.start" doc:name="SnapTime Start"/>
        
        <!-- <custom-transformer class="com.l1p.interop.ilp.ledger.BasicAuthCredentialsTransformer" doc:name="Basic Auth Transformer"/> -->
        <logger level="INFO"
                message="Received request with L1p-Trace-Id=#[sessionVars.'L1p-Trace-Id'] at path=#[message.inboundProperties.'http.request.path'], method=#[message.inboundProperties.'http.method'], Content-Type=#[message.inboundProperties.'Content-Type']"
                category="com.l1p.interop.ilp.ledger.api-main" doc:name="logger"/>
        <logger level="DEBUG"
                message="Received request with L1p-Trace-Id=#[sessionVars.'L1p-Trace-Id'] at path=#[message.inboundProperties.'http.request.path'], method=#[message.inboundProperties.'http.method'], Content-Type=#[message.inboundProperties.'Content-Type']: #[payload]"
                category="com.l1p.interop.ilp.ledger.api-main" doc:name="logger"/>
        <apikit:router config-ref="api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="${ilp-ledger-adapter.consolePath}/*" doc:name="HTTP"/>
        <apikit:console config-ref="api-config" doc:name="APIkit Console"/>
    </flow>

    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-session-variable variableName="errorMessageId" value="Resource not found" doc:name="set-errorMessageId"/>
            <transformer ref="ExceptionTransformer" doc:name="ExceptionTransformer"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <!--<logger level="ERROR"-->
                    <!--message="Received 405 error - org.mule.module.apikit.exception.MethodNotAllowedException: #[exception.getCauseException().getMessage();]"-->
                    <!--category="some.category"/>-->
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-session-variable variableName="errorMessageId" value="Method Not Allowed" doc:name="set-errorMessageId"/>
            <transformer ref="ExceptionTransformer" doc:name="ExceptionTransformer"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <!--<logger level="ERROR"-->
                    <!--message="Received 415 error - org.mule.module.apikit.exception.UnsupportedMediaTypeException: #[exception.getCauseException().getMessage();]"-->
                    <!--category="some.category"/>-->
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-session-variable variableName="errorMessageId" value="Unsupported MediaType" doc:name="set-errorMessageId"/>
            <transformer ref="ExceptionTransformer" doc:name="ExceptionTransformer"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <!--<logger level="ERROR"-->
                    <!--message="Received 406 error - org.mule.module.apikit.exception.NotAcceptableException: #[exception.getCauseException().getMessage();]"-->
                    <!--category="some.category"/>-->
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-session-variable variableName="errorMessageId" value="Not Acceptable" doc:name="set-errorMessageId"/>
            <transformer ref="ExceptionTransformer" doc:name="ExceptionTransformer"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <!--<logger level="ERROR"-->
                    <!--message="Received 400 error - org.mule.module.apikit.exception.BadRequestException: #[exception.getCauseException().getMessage();]"-->
                    <!--category="some.category"/>-->
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-session-variable variableName="errorMessageId" value="Bad request" doc:name="set-errorMessageId"/>
            <transformer ref="ExceptionTransformer" doc:name="ExceptionTransformer"/>
        </apikit:mapping>
        <apikit:mapping statusCode="500">
            <!--<logger level="ERROR"-->
                    <!--message="Received 500 error - org.mule.api.transformer.TransformerMessagingException: #[exception.getCauseException().getMessage();]"-->
                    <!--category="some.category"/>-->
            <apikit:exception value="org.mule.api.transformer.TransformerMessagingException" />
            <set-session-variable variableName="errorMessageId" value="Transformer Messaging Exception" doc:name="set-errorMessageId"/>
            <transformer ref="ExceptionTransformer" doc:name="ExceptionTransformer"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>

</mule>
