src/main/app/interop-ilp-ledger.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:json="http://www.mulesoft.org/schema/mule/json"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <flow name="get:/:api-config">
        <object-to-string-transformer/>
        <logger level="INFO"
                message="Calling getLedgerMetadata for interopID=#[sessionVars.interopID]: #[payload]"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
        <flow-ref name="getLedgerMetadata" doc:name="call getLedgerMetadata"/>
        <object-to-string-transformer/>
        <logger level="INFO"
                message="Received getLedgerMetadata response for interopID=#[sessionVars.interopID], http.status=#[message.outboundProperties.'http.status']: #[payload]"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
    </flow>
    <flow name="get:/health:api-config">
        <object-to-string-transformer/>
        <logger level="INFO"
                message="Calling getLedgerHealth for interopID=#[sessionVars.interopID]: #[payload]"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
        <flow-ref name="getLedgerHealth" doc:name="call getLedgerMetadata"/>
        <object-to-string-transformer/>
        <logger level="INFO"
                message="Received getLedgerHealth response for interopID=#[sessionVars.interopID], http.status=#[message.outboundProperties.'http.status']: #[payload]"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
    </flow>

    <flow name="get:/accounts:api-config">
        <object-to-string-transformer/>
        <logger level="INFO"
                message="Calling getAccounts for interopID=#[sessionVars.interopID]: #[payload]"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
        <flow-ref name="getAccounts" doc:name="call getAccounts"/>
        <object-to-string-transformer/>
        <logger level="INFO"
                message="Received getAccounts response for interopID=#[sessionVars.interopID], http.status=#[message.outboundProperties.'http.status']: #[payload]"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
    </flow>
    <flow name="get:/accounts/{id}:api-config">
        <object-to-string-transformer/>
        <logger level="INFO"
                message="Calling getAccount(#[id]) for interopID=#[sessionVars.interopID]: #[payload]"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
        <flow-ref name="getAccount" doc:name="call getAccount"/>
        <object-to-string-transformer/>
        <logger level="INFO"
                message="Received getAccount(#[id]) response for interopID=#[sessionVars.interopID], http.status=#[message.outboundProperties.'http.status']: #[payload]"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
    </flow>
    <flow name="put:/accounts/{id}:api-config">
        <object-to-string-transformer/>
        <logger level="INFO"
                message="Calling putAccount(#[id]) for interopID=#[sessionVars.interopID]: #[payload]"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
        <flow-ref name="putAccount" doc:name="call putAccount"/>
        <object-to-string-transformer/>
        <logger level="INFO"
                message="Received putAccount(#[id]) response for interopID=#[sessionVars.interopID], http.status=#[message.outboundProperties.'http.status']: #[payload]"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
    </flow>

    <flow name="get:/transfers/{id}:api-config">
        <object-to-string-transformer/>
        <logger level="INFO"
                message="Calling getTransfer(#[id]) for interopID=#[sessionVars.interopID]: #[payload]"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
        <flow-ref name="getTransfer" doc:name="call getTransfer"/>
        <object-to-string-transformer/>
        <logger level="INFO"
                message="Received getTransfer(#[id]) response for interopID=#[sessionVars.interopID], http.status=#[message.outboundProperties.'http.status']: #[payload]"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
    </flow>
    <flow name="put:/transfers/{id}:api-config">
        <object-to-string-transformer/>
        <logger level="INFO"
                message="Calling putTransfer(#[id]) for interopID=#[sessionVars.interopID]: #[payload]"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
        <flow-ref name="putTransfer" doc:name="call putTransfer"/>
        <object-to-string-transformer/>
        <logger level="INFO"
                message="Received putTransfer(#[id])response for interopID=#[sessionVars.interopID], http.status=#[message.outboundProperties.'http.status']: #[payload]"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
    </flow>
    <flow name="put:/transfers/{id}/fulfillment:api-config">
        <object-to-string-transformer/>
        <logger level="INFO"
                message="Calling executeTransfer([#id]) for interopID=#[sessionVars.interopID]: #[payload]"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
        <flow-ref name="executeTransfer" doc:name="call executeTransfer"/>
        <object-to-string-transformer/>
        <logger level="INFO"
                message="Received executeTransfer([#id]) response for interopID=#[sessionVars.interopID], http.status=#[message.outboundProperties.'http.status']: #[payload]"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
    </flow>

    <flow name="get:/connectors:api-config">
        <object-to-string-transformer/>
        <logger level="INFO"
                message="Calling getConnectors for interopID=#[sessionVars.interopID]: #[payload]"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
        <flow-ref name="getConnectors" doc:name="call getConnectors"/>
        <object-to-string-transformer/>
        <logger level="INFO"
                message="Received getConnectors response for interopID=#[sessionVars.interopID], http.status=#[message.outboundProperties.'http.status']: #[payload]"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
    </flow>


</mule>
